@media only screen and (max-width: 1050px){
.nav-list{
flex-direction: column;
}
.navbar{
flex-direction: column;
height: 450px;
transition: all 0.7s ease-out;
}
.right-navbar{
text-align: center;
}
.main-box{
max-width: 100%;
flex-direction: column-reverse;
height: 45%;
}
.large-font{
text-align: center;
}
.small-font{
text-align: center;
}
.button{
text-align: center;
}
#Search{
width: 100%;
}
.burger{
display: block;
}
.h-nav-resp{
height: 68px;
}
.v-class-resp{
opacity: 0;
}
.form{
max-width: 60%;
}
.secRight{
flex-direction: column-reverse;
height: 50%;
padding: 15px 0px;
}
.paras{
padding: 0px 0px;
}
.text-footer{
text-align: center;
}
}